<!doctype html>
<html lang="en">
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FullName.com</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      .navbar-toggler-icon span {
  background-color: #fff;
}
    </style>
  </head>
      <body>
        {% include 'navbar.html' %}
        <div class="container">
        <h1 class="text-danger">About Me</h1>
      <p> 
        My name is Raul Leon-Cuevas, and I'm 24 years old. I currently live in Hattiesburg, where I attend The University of Southern Mississippi as a Microbiology and Computer Science Major.<br><br>

I started my acedemic career in 2020 and plan to graduate with my BS in 2024 and BCS in 2025. Until then, I have been studying microbial genetics specfically with viruses and bacteria. As well as familiarized myself with Python and C++.<br><br>

When I'm not at school or studying, I enjoy play games and garden. I typically play Yu-Gi-Oh Master Duel and maybe some Rocket League and like to cultivate desert plants.<br><br>

As you explore my website, you'll find some articles written to express my thoughts as well as ome project dissertations and soon to come project data. I hope that you will find something useful to take away from the site and maybe you will come back again.<br><br>

If you have any questions or just want to say hello, feel free to contact me through email.<br><br>

Enjoy your stay! 
      </p>
        </div>
        {% include 'footer.html' %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      </body>
</html>