<!doctype html>
<html lang="en">
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FullName.com</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      .navbar-toggler-icon span {
  background-color: #fff;
}
    </style>
  </head>
      <body>
        {% include 'navbar.html' %}
        <div class="container">
        <h1 class="text-danger">My Cactus Growing Endeavor</h1>
      <p>What's not to love about gardening? It's the perfect hobby for laid-back people like me. You purchase something that doesn't need walking and requires minimal feeding, and you get to see it grow, flower, and maybe even bear fruit. Of course, plants do require some care, such as watering and fertilizing, or even more if they are delicate. However, I didn't want to do all that, at least not often, or else what's the point of having a low-maintenance living organism like a plant? So, I began searching for the best plants that require little to no care and came upon cacti as ideal candidates.<br><br>

Cacti are desert plants native to the Americas that require minimal water and plenty of sunlight. They can go months without water, and if they have stored enough energy and are kept cold, they can even survive without sunlight for months. I decided to become a cactus grower and start a garden of cacti that would thrive despite my neglect. Before I began, I considered a few things: cacti can rot when overwatered, which is the most common cause of death in cultivation, and most cacti are not frost-tolerant, while freezing temperatures occur regularly for almost half the year where I live. So, I had to address these issues.<br><br>

By pure coincidence, I found a suitable starter plant on the side of the highway—an Opuntia or pad cactus. I cut off some of its pads, which I had read could be replanted, and did just that. Opuntias are known to be the hardiest of all cacti and highly frost-tolerant. There are even Opuntias in Canada, which means they can be left outside indefinitely. However, they are still susceptible to rot, and since it rains a lot where I live, I made the potting soil half pumice, a volcanic rock that allows water to drain right through the soil. I planted the pads I found, and they have all done incredibly well, growing even more pads.<br><br>

Great! So, what now? Should I get more Opuntias and exponentially expand the operation? The lack of diversity in that idea seemed dull. Sure, Opuntias are easy to grow and are the current foundation of the project, but other cacti have interesting shapes, growth patterns, and colors that are incredibly appealing. The trade-off is that they require a bit more care, mostly in terms of frost protection rather than water. I began purchasing small, mature cacti to care for, such as Stenocereus eruca, Carnegiea gigantea, and Echinopsis terscheckii. I'm happy to say that all of those and many others are still alive and well, with only two exceptions.<br><br>
        
        Things were going well, so I decided to take it a step further and grow cacti from seed, a task that proved to be incredibly challenging. Cactus seeds require high temperatures to germinate and grow, a moist but not damp environment, and sunlight, but not too much, or they can easily die. They also cannot be easily moved from where they are planted, since their roots take a long time to become fibrous and can easily be damaged when removed, potentially killing the seedling.I began by purchasing various types of seeds and suitable growing medium, but initially, I found that my germination rates were very low indoors, and the seedlings barely grew at all. I realized that they needed the real heat of the sun to germinate and decided to put them outside. This was both a good and bad move; the heat from the sun provided incredible germination rates, but it also killed many of the seedlings as soon as they sprouted due to sun scorching.<br><br>

I reached a happy medium by placing them under my carport, which shaded them from the sun's direct heat but still provided a warm environment with higher light levels than indoors. This is an ongoing experiment, and I plan on growing even more cacti and uploading information and data about them to this very page. So if you're interested in that, be sure to come back and check it out.
        
      </p>
        </div>
        {% include 'footer.html' %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      </body>
</html>